@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.main {
  min-height:calc(100vh - 14rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin : 6rem 10rem
}

.chats {
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
  max-width : 70rem;
  max-height : 40rem;
  
}

.chat {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.2rem;
  padding: 2rem 3rem;
  text-align: justify;

}

.bot {
  background: rgba(28,30,58,.1);
  width: fit-content;
  border-radius: 0.5rem;

}

.chatimg {
  object-fit: cover;
  width: 3rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
}

.chatFooter {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inp {
  padding: 0.5rem;
  background: rgba(28,30,58,.1);
  display: flex;
  align-items: center;
  border-radius: 1rem;
  width: 100%;

}

.inp > input {
  width : calc(100% - 2rem);
  outline : none;
  border : none;

  padding: 1.5rem;
  color: #000;
}

.inp>input, .send {
  background: transparent;
  border: none;
}

.container{
  flex-grow: 1;
  padding: 2em;
  /* background-image: radial-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .8)), url('../public/banner.png'); */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.title{
  font-size: 3em;
}
.info{
  font-size: 1.1em;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 1.5em;
  color: rgb(224, 224, 224);
}
.btn{
  margin: 0 auto;
  border: none;
  outline: none;
  padding: .75em 1em;
  font-size: 1em;
  letter-spacing: 1px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .4);
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: rgb(134, 49, 0);
  color: #fff;
}

.sidebar{
  flex-shrink: 0;
  background-color: rgb(252, 252, 252, 1);
  height: 75vh;
  overflow: auto;
  color: black;
}

.border-black{
  padding: 0.95em 0.75em;
}

.sidebar-item{
  padding: .75em 1em;
  display: block;
  transition: background-color .15s;
  border-radius: 5px;
}
.sidebar-item:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.sidebar-title{
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
  justify-content:space-around;
}
.sidebar-title span i{
  display: inline-block;
  /* width: 1.5em; */
  height: 25%;
}
.sidebar-title span B1{
  height: 75%;
}
.sidebar-title .toggle-btn{
  cursor: pointer;
  transition: transform .3s;
}
.sidebar-item.open > .sidebar-title .toggle-btn{
  transform: rotate(180deg);
}
.sidebar-content{
  padding-top: .25em;
  height: 0;
  overflow: hidden;
}
.sidebar-item.open > .sidebar-content{
  height: auto;
}

.sidebar-item.plain{
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}
.sidebar-item.plain:hover{
  text-decoration: underline;
}
.sidebar-item.plain i{
  display: inline-block;
  width: 1.7em;
}